# California Census Data

The California Census Data contains several features, I'll be trying to use various features of an individual to predict what class of income they belong in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Importing Required Packages

In [75]:
import pandas as pd

## Reading CSV File
** Read in the census_data.csv data with pandas**

In [76]:
cal_census_data = pd.read_csv('census_data.csv')

In [77]:
cal_census_data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Data Pre-processing
** Convert the Label column to 0s and 1s instead of strings.**

In [78]:
cal_census_data['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [91]:
transformed_l_cal_census_data = cal_census_data.copy()
transformed_l_cal_census_data['income_bracket'] = transformed_l_cal_census_data['income_bracket'].apply(lambda x: 0 if x == ' <=50K' else 1)

In [42]:
cal_census_data

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [92]:
y_label = transformed_l_cal_census_data['income_bracket']

In [81]:
X_data = transformed_l_cal_census_data.drop(columns=['income_bracket'],axis=1)

### Perform a Train Test Split on the Data

In [43]:
from sklearn.model_selection import train_test_split

In [93]:
X_train, X_test, y_train, y_test = train_test_split(X_data, y_label, test_size=0.30, random_state=101)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [83]:
transformed_cal_census_data.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [84]:
import tensorflow.compat.v1 as tf

In [85]:
feat_cols = {}

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [86]:
for col_name in [ col_name for col_name, col_dtype in dict(X_data.dtypes).items() if col_dtype == object]:
    feat_cols[col_name] = tf.feature_column.categorical_column_with_hash_bucket(col_name, len(X_data[col_name].unique().tolist()))

** Create the continuous feature_columns for the continuous values using numeric_column **

In [87]:
for col in [ col_name for col_name, col_dtype in dict(X_data.dtypes).items() if col_dtype != object]:
    feat_cols[col] = tf.feature_column.numeric_column(col)

** Put all these variables into a single list with the variable name feat_cols **

In [88]:
feat_colns = feat_cols.values()

In [104]:
feat_cols

{'workclass': HashedCategoricalColumn(key='workclass', hash_bucket_size=9, dtype=tf.string),
 'education': HashedCategoricalColumn(key='education', hash_bucket_size=16, dtype=tf.string),
 'marital_status': HashedCategoricalColumn(key='marital_status', hash_bucket_size=7, dtype=tf.string),
 'occupation': HashedCategoricalColumn(key='occupation', hash_bucket_size=15, dtype=tf.string),
 'relationship': HashedCategoricalColumn(key='relationship', hash_bucket_size=6, dtype=tf.string),
 'race': HashedCategoricalColumn(key='race', hash_bucket_size=5, dtype=tf.string),
 'gender': HashedCategoricalColumn(key='gender', hash_bucket_size=2, dtype=tf.string),
 'native_country': HashedCategoricalColumn(key='native_country', hash_bucket_size=42, dtype=tf.string),
 'age': NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 'education_num': NumericColumn(key='education_num', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 'capital_gain': NumericColumn(key='capital_gain', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 'capital_loss': NumericColumn(key='capital_loss', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 'hours_per_week': NumericColumn(key='hours_per_week', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)}

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [105]:
train_input_fn = tf.estimator.inputs.pandas_input_fn(x=X_train, y= y_train, batch_size=10, num_epochs=1000, shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [106]:
y_label.unique()

array([0, 1], dtype=int64)

In [107]:
model = tf.estimator.LinearClassifier(feat_colns, n_classes=len(y_label.unique().tolist()))

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\niks8\AppData\Local\Temp\tmpwt7b9que
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\niks8\\AppData\\Local\\Temp\\tmpwt7b9que', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_checkpoint_save_graph_def': True, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

** Train your model on the data, for at least 5000 steps. **

In [108]:
model.train(train_input_fn, steps = 5000)

INFO:tensorflow:Calling model_fn.

C:\Users\niks8\AppData\Local\Programs\Python\Python39\lib\site-packages\tensorflow_estimator\python\estimator\canned\linear.py:1468: UserWarning: `layer.add_variable` is deprecated and will be removed in a future version. Please use `layer.add_weight` method instead.
  self.bias = self.add_variable(

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\niks8\AppData\Local\Temp\tmpwt7b9que\model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 6.931472, step = 0
INFO:tensorflow:global_step/sec: 360.91
INFO:tensorflow:loss = 2.9193149, step = 100 (0.279 sec)
INFO:tensorflow:global_step/sec: 731.018
INFO:tensorflow:loss = 4.586574, step = 200 (0.136 sec)
INFO:tensorflow:global_step/sec: 727.062
INFO:tensorflow:loss = 0.40996698, step = 300 (0.137 sec)
INFO:tensorflow:global_step/sec: 732.328
INFO:tensorflow:loss = 7.5699177, step = 400 (0.137 sec)
INFO:tensorflow:global_step/sec: 760.844
INFO:tensorflow:loss = 1.6634842, step = 500 (0.132 sec)
INFO:tensorflow:global_step/sec: 660.849
INFO:tensorflow:loss = 11.238474, step = 600 (0.150 sec)
INFO:tensorflow:global_step/sec: 678.301
INFO:tensorflow:loss = 3.2563968, step = 700 (0.147 sec)
INFO:tensorflow:global_step/sec: 754.917
INFO:tensorflow:loss = 1.2283595, step = 800 (0.133 sec)
INFO:tensorflow:global_step/sec: 796.799
INFO:tensorflow:loss = 2.3208113, step = 900 (0.126 sec)
INFO:tensorflow:global_step/sec: 701.641
INFO:tensorflow:loss = 25.953772, step = 1000 (0.142 sec)
INFO:tensorflow:global_step/sec: 754.267
INFO:tensorflow:loss = 5.7908883, step = 1100 (0.133 sec)
INFO:tensorflow:global_step/sec: 810.478
INFO:tensorflow:loss = 21.514868, step = 1200 (0.123 sec)
INFO:tensorflow:global_step/sec: 749.064
INFO:tensorflow:loss = 3.2733622, step = 1300 (0.133 sec)
INFO:tensorflow:global_step/sec: 792.603
INFO:tensorflow:loss = 3.2163491, step = 1400 (0.127 sec)
INFO:tensorflow:global_step/sec: 703.073
INFO:tensorflow:loss = 1.3184885, step = 1500 (0.142 sec)
INFO:tensorflow:global_step/sec: 677.404
INFO:tensorflow:loss = 2.3422675, step = 1600 (0.148 sec)
INFO:tensorflow:global_step/sec: 696.586
INFO:tensorflow:loss = 4.2546873, step = 1700 (0.144 sec)
INFO:tensorflow:global_step/sec: 771.484
INFO:tensorflow:loss = 3.3208513, step = 1800 (0.130 sec)
INFO:tensorflow:global_step/sec: 815.659
INFO:tensorflow:loss = 7.570309, step = 1900 (0.123 sec)
INFO:tensorflow:global_step/sec: 673.39
INFO:tensorflow:loss = 103.25753, step = 2000 (0.148 sec)
INFO:tensorflow:global_step/sec: 864.96
INFO:tensorflow:loss = 2.7911866, step = 2100 (0.118 sec)
INFO:tensorflow:global_step/sec: 811.031
INFO:tensorflow:loss = 3.665206, step = 2200 (0.121 sec)
INFO:tensorflow:global_step/sec: 842.627
INFO:tensorflow:loss = 2.7556171, step = 2300 (0.119 sec)
INFO:tensorflow:global_step/sec: 805.502
INFO:tensorflow:loss = 3.4371812, step = 2400 (0.124 sec)
INFO:tensorflow:global_step/sec: 795.975
INFO:tensorflow:loss = 192.6495, step = 2500 (0.126 sec)
INFO:tensorflow:global_step/sec: 809.157
INFO:tensorflow:loss = 7.624502, step = 2600 (0.125 sec)
INFO:tensorflow:global_step/sec: 805.991
INFO:tensorflow:loss = 3.4541354, step = 2700 (0.123 sec)
INFO:tensorflow:global_step/sec: 769.305
INFO:tensorflow:loss = 17.719965, step = 2800 (0.130 sec)
INFO:tensorflow:global_step/sec: 686.452
INFO:tensorflow:loss = 2.620668, step = 2900 (0.146 sec)
INFO:tensorflow:global_step/sec: 765.772
INFO:tensorflow:loss = 0.9910796, step = 3000 (0.132 sec)
INFO:tensorflow:global_step/sec: 748.029
INFO:tensorflow:loss = 5.0567913, step = 3100 (0.133 sec)
INFO:tensorflow:global_step/sec: 721.691
INFO:tensorflow:loss = 0.92003185, step = 3200 (0.139 sec)
INFO:tensorflow:global_step/sec: 759.167
INFO:tensorflow:loss = 4.7142124, step = 3300 (0.132 sec)
INFO:tensorflow:global_step/sec: 748.313
INFO:tensorflow:loss = 7.5071187, step = 3400 (0.134 sec)
INFO:tensorflow:global_step/sec: 743.663
INFO:tensorflow:loss = 4.7033634, step = 3500 (0.134 sec)
INFO:tensorflow:global_step/sec: 740.933
INFO:tensorflow:loss = 4.1748395, step = 3600 (0.135 sec)
INFO:tensorflow:global_step/sec: 754.746
INFO:tensorflow:loss = 1.2238849, step = 3700 (0.132 sec)
INFO:tensorflow:global_step/sec: 766.248
INFO:tensorflow:loss = 0.7462434, step = 3800 (0.131 sec)
INFO:tensorflow:global_step/sec: 778.031
INFO:tensorflow:loss = 0.21459863, step = 3900 (0.129 sec)
INFO:tensorflow:global_step/sec: 741.827
INFO:tensorflow:loss = 0.57793385, step = 4000 (0.136 sec)
INFO:tensorflow:global_step/sec: 705.787
INFO:tensorflow:loss = 3.8325574, step = 4100 (0.140 sec)
INFO:tensorflow:global_step/sec: 797.243
INFO:tensorflow:loss = 12.584162, step = 4200 (0.125 sec)
INFO:tensorflow:global_step/sec: 768.541
INFO:tensorflow:loss = 5.8997636, step = 4300 (0.132 sec)
INFO:tensorflow:global_step/sec: 765.549
INFO:tensorflow:loss = 11.211029, step = 4400 (0.132 sec)
INFO:tensorflow:global_step/sec: 794.353
INFO:tensorflow:loss = 98.15613, step = 4500 (0.125 sec)
INFO:tensorflow:global_step/sec: 749.832
INFO:tensorflow:loss = 9.110821, step = 4600 (0.132 sec)
INFO:tensorflow:global_step/sec: 697.078
INFO:tensorflow:loss = 2.0100052, step = 4700 (0.143 sec)
INFO:tensorflow:global_step/sec: 631.207
INFO:tensorflow:loss = 3.2072957, step = 4800 (0.158 sec)
INFO:tensorflow:global_step/sec: 717.952
INFO:tensorflow:loss = 3.6435544, step = 4900 (0.140 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 5000...
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\niks8\AppData\Local\Temp\tmpwt7b9que\model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 5000...
INFO:tensorflow:Loss for final step: 10.91303.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [109]:
eval_input_fn = tf.estimator.inputs.pandas_input_fn(x=X_test, batch_size=10, num_epochs=1, shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [115]:
predictions = model.predict(eval_input_fn)

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [116]:
predictions = [pred['class_ids'] for pred in list(predictions)]

INFO:tensorflow:Calling model_fn.

C:\Users\niks8\AppData\Local\Programs\Python\Python39\lib\site-packages\tensorflow_estimator\python\estimator\canned\linear.py:1468: UserWarning: `layer.add_variable` is deprecated and will be removed in a future version. Please use `layer.add_weight` method instead.
  self.bias = self.add_variable(

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\niks8\AppData\Local\Temp\tmpwt7b9que\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [101]:
from sklearn.metrics import classification_report

In [113]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.87      0.90      0.89      7436
           1       0.64      0.59      0.61      2333

    accuracy                           0.82      9769
   macro avg       0.76      0.74      0.75      9769
weighted avg       0.82      0.82      0.82      9769